body {
   margin: 0;
   padding: 0;
   background: #add8e6;
   font-family: 'Martian Mono', monospace;
}

a {
   text-decoration: none;
   color: #000;
}

.wrapper_one {
   display: flex;
   background: #003147;
   max-width: 800px;
   margin: 10px auto;
}
