body {
   margin: 0;
   padding: 0;
   background: #add8e6;
   font-family: 'Martian Mono', monospace;
}

a {
   text-decoration: none;
   color: #000;
}

.wrapper_one {
   display: flex;
   background: #003147;
   max-width: 800px;
   margin: 10px auto;
}

aside {
   padding: 40px 20px;
}

h1,
h2,
h3 {
   color: #fff;
   text-transform: uppercase;
   text-align: center;
}

.my_photo {
   width: 200px;
   height: 200px;
   border-radius: 100px;
   object-fit: cover;
   display: block;
   margin: 0 auto;
}

.info img {
   width: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
}